[user]
	name = Victor Antoniazzi
	email = vgsantoniazzi@gmail.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[push]
	default = current
[core]
	excludesfile = /home/vgsantoniazzi/.gitignore
	editor = emacs -nw
[commit]
	template = /home/vgsantoniazzi/.gitmessage
[diff]
	colormoved = default
