[user]
	name = Victor Antoniazzi
	email = vgsantoniazzi@gmail.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[push]
	default = current
[core]
	excludesFile = ~/.gitignore
	editor = emacs -nw
[commit]
	template = ~/.gitmessage
	gpgsign = true
[diff]
	colormoved = default
